@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

/****** BASE *******/
body {
    background-color: #fff;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1.5;
    color: #000;
    min-width: 320px;
}

a {
    color: #000;
    outline: none;
}

a:hover {
    color: #000;
}

img {
    max-width: 100%;
}

.container-fix {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fix.pad-0 {
    padding-right: 0;
    padding-left: 0;
}


/****** HEADER *******/
#header.navbar {
    background-color: #fff;
}

#header.navbar > .container-fix {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

#header.navbar .navbar-brand {
    padding-top: 4px;
    padding-bottom: 4px;
}

#header.navbar .navbar-brand > img {
    height: 18px;
}

#header.navbar .navbar-collapse {
    justify-content: flex-end;
}

#header .navbar-nav {
    margin-top: .5rem;
    border-top: 1px solid #e7272d;
}

#header.navbar-expand-md .navbar-nav .nav-link {
    padding: .7rem 15px;
}

#header.navbar .navbar-nav .nav-link {
    font-size: 18px;
}

#header.navbar .btn-order {
    font-size: 18px;
    color: #e7272d;
    border: 1px solid #f6767a;
    margin-top: .7rem;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}

#header.navbar .btn-order:hover {
    background-color: #e7272d;
    color: #fff;
    border-color: #e7272d;
}

#header.navbar .btn-resta {
    background-color: #e7272d;
    font-size: 18px;
    color: #fff;
    border: 1px solid #e7272d;
    margin-top: .7rem;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}

#header.navbar .btn-resta:hover {
    background-color: #fff;
    color: #e7272d;
    border-color: #f6767a;
}

#header.navbar .navbar-toggler-icon {
    background: url(../img/bars-solid.svg) no-repeat center center;
}

@media (min-width: 768px) {
    #header.navbar .navbar-brand {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #header.navbar .navbar-brand > img {
        height: auto;
    }

    #header .navbar-nav {
        margin-top: 0;
        border-top: none;
    }

    #header.navbar-expand-md .navbar-nav .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    #header.navbar .btn-order {
        margin-top: 0;
        margin-right: 0;
        display: inline-block;
    }

    #header.navbar .btn-resta {
        margin-top: 0;
        margin-right: 0;
        display: inline-block;
    }
}


/****** KEY VISUAL *******/
#keyvisual {
    background: url(../img/bg-keyvisual01.jpg) fixed no-repeat center center;
    background-size: cover;
    padding: 5rem 0;
}

#keyvisual.eat {
    background-image: url(../img/bg-keyvisual02.jpg);
    background-attachment: scroll;
    text-align: left !important;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#keyvisual .main-text {
    font-family: 'Sriracha', cursive;
    font-size: 1.8rem;
    color: #fdfd96;
    margin-bottom: 2rem;
}

#keyvisual.eat .main-text {
    color: #ffe662;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

#keyvisual .sub-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 2.5rem;
}

#keyvisual.eat .sub-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

#keyvisual .btn-main {
    background-color: #e7272d;
    font-size: 20px;
    color: #fff;
    border: 1px solid #e7272d;
    padding: 0.5rem 1rem;
}

#keyvisual .btn-main:hover {
    background-color: rgba(231, 39, 45, 0.8);
}

#keyvisual .apps-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
}

#keyvisual .apps-list li {
    margin: 0 10px;
}

@media (min-width: 768px) {
    #keyvisual {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    #keyvisual .main-text {
        font-size: 3.8rem;
    }
    
    #keyvisual .sub-text {
        font-size: 20px;
        margin-bottom: 3.5rem;
    }

    #keyvisual .btn-main {
        font-size: 26px;
        padding: 1rem 1.5rem;
    }
}


/****** WHATS *******/
#whats {
    padding: 3.5rem 0;
}

#whats .row-part {
    display: flex;
    flex-wrap: wrap;
}

#whats .row-part .img {
    width: 100%;
    text-align: center;
    order: 2;
}

#whats .row-part .text > h1 {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    #whats {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    #whats .row-part .img {
        width: 46%;
        margin-right: 6rem;
        order: 0;
    }

    #whats .row-part .text {
        flex: 1;
    }
}


/****** WHY *******/
#why {
    padding: .5rem 0 3.5rem;
}

#why .title-main {
    text-align: center;
    margin-bottom: 1.5rem;
}

#why .list {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

#why .list .box {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    margin-bottom: .5rem;
    position: relative;
}

#why .list .box.box-1 {
    background-image: url(../img/bg-img01.jpg);
}

#why .list .box.box-2 {
    background-image: url(../img/bg-img02.jpg);
}

#why .list .box.box-3 {
    background-image: url(../img/bg-img03.jpg);
}

#why .list .box .dark-bg {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#why .list .box .info {
    position: relative;
    z-index: 9;
}

#why .list .box .info .icon {
    background-color: #fff;
    width: 99px;
    height: 99px;
    border-radius: 999px;
    margin: 0 auto 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why .list .box .info .subject {
    color: #fff;
    font-size: 26px;
    margin-bottom: 1rem;
}

#why .list .box .info .text {
    color: #ccc;
}

@media (min-width: 768px) {
    #why {
        padding-top: 1rem;
        padding-bottom: 9rem;
    }

    #why .title-main {
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 992px) {
    #why .list {
        padding-right: 0;
        padding-left: 0;
    }
    
    #why .list .box {
        width: 32.66%;
        margin-right: 1%;
        padding: 4rem;
    }

    #why .list .box:nth-of-type(3n) {
        margin-right: 0;
    }
}


/****** STEPS *******/
#steps {
    padding: 3.5rem 0;
}

#steps .title-main {
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    #steps {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    #steps .title-main {
        margin-bottom: 2.5rem;
    }
}


/****** RECOMMEND *******/
#recommend {
    background-color: #f8f8f8;
    padding: 3.5rem 0 2rem;
}

#recommend .title-main {
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    #recommend {
        padding-top: 7rem;
        padding-bottom: 4rem;
    }

    #recommend .title-main {
        margin-bottom: 2.5rem;
    }
}


/****** EXPRESS *******/
#express {
    padding: 3.5rem 0 2rem;
}

#express .title-main {
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    #express {
        padding-top: 7rem;
        padding-bottom: 4rem;
    }

    #express .title-main {
        margin-bottom: 2.5rem;
    }
}


/****** SPECIAL *******/
#special {
    background-color: #f8f8f8;
    padding: 3.5rem 0 2rem;
}

#special .title-main {
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    #special {
        padding-top: 7rem;
        padding-bottom: 4rem;
    }

    #special .title-main {
        margin-bottom: 2.5rem;
    }
}


/****** APPS *******/
#apps {
    background-color: #ebebeb;
    padding: 2.5rem 0;
}

#apps .title-main {
    color: #000;
    text-align: center;
    margin-bottom: 1.5rem;
}

#apps .list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}

#apps .list li {
    margin: 0 10px;
}

@media (min-width: 768px) {
    #apps {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    #apps .title-main {
        margin-bottom: 2.5rem;
    }
}


/****** FOOTER *******/
#footer .row-part {
    padding: 2.25rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .row-part .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

#footer .row-part .nav {
    width: 100%;
    display: inline-flex;
}

#footer .row-part .nav li {
    width: 100%;
    text-align: center;
}

#footer .row-part .nav li a {
    font-size: 16px;
}

#footer .copyright {
    background-color: #000;
}

#footer .copyright p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    #footer .row-part .logo {
        width: auto;
        margin-bottom: 0;
    }

    #footer .row-part .nav {
        width: auto;
    }

    #footer .row-part .nav li {
        width: auto;
        margin-left: 15px;
    }
}


/****** TITLE *******/
h1.title-main {
    font-size: 2rem;
    font-weight: 700;
    color: #e7272d;
}

@media (min-width: 768px) {
    h1.title-main {
        font-size: 2.5rem;
    }
}


/****** BUTTON *******/
button:focus {
    outline: none;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}


/****** LIST *******/
.food-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.food-list li {
    background-color: #fff;
    width: 49%;
    border: 2px solid #e9e9e9;
    margin-right: 2%;
    margin-bottom: 2rem;
}

.food-list li:nth-of-type(2n) {
    margin-right: 0;
}

.food-list li a {
    text-decoration: none;
}

.food-list li .text {
    padding: 10px 25px;
}

.food-list li .text > p {
    font-size: 14px;
    color: #6c6c6c;
}

@media (min-width: 768px) {
    .food-list li {
        width: 32.66%;
        margin-right: 1%;
    }
    
    .food-list li:nth-of-type(2n) {
        margin-right: 1%;
    }

    .food-list li:nth-of-type(3n) {
        margin-right: 0;
    }
}